<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA school system</title>
</head>
<body>
  <a href="contact.html">Contact us</a>

  <h1>Hello, User!</h1>
  <p>Welcome to SDA system!<br/>Here you can find more schedules and lessons of SDA.</p>
  <p><i>Today is a great day.</i><b>It's nice to meet you again!</b></p>

  <a href="https://www.oracle.com" target="_blank">
      <img src="../assets/images/java-code.jpg" alt="Java Code Picture" height="450" width="800"/>
  </a>

  <a href="https://www.twitter.com" target="_blank">
      Twitter
  </a>


  <h3>Courses:</h3>
<ul>
    <li>Java
        <ol>
            <li>Fundamentals</li>
            <li>Advanced features</li>
            <li>Practical project</li>
        </ol>
    </li>
    <li>Python</li>
    <li>Angular</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>

<h3>Languages:</h3>
<ol>
    <li>Java
        <ul>
            <li>Spring</li>
            <li>Vaadin</li>
            <li>Apache</li>
        </ul>
    </li>
    <li>C++</li>
    <li>C</li>
    <li>Scala</li>
</ol>

</body>
</html>