<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDA system- Schedule</title>
</head>
<body>
        <table border="1">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Place</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Java </td>
<!--                    To make the row span -->
                    <td rowspan="2">Tallinn</td>
                    <td>20-03-2023</td>
                </tr>
            <tr>
                <td> Python </td>
                <td>20-03-2023</td>
            </tr>
            </tbody>
        </table>
</body>
</html>