/*tag selector*/
h1 {
    color: blue;
    /*transform: rotate(90deg);*/
}
/*Id selector*/
#course-list {
    margin: 0 5% 0 75%;
    box-shadow: grey;
    opacity: revert;
}

/*Class selector*/
.hide-me {
    display: none;
}


.bold-orange {
    color: orange;
    font-weight: bold;
}

.underline-me {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}

/*Descendent selector*/
#greeting p {
    margin-left: 30px;
}

ul li {
    text-decoration: line-through;
    font-family: "Brush Script MT";
    font-size: xx-large;
}

/*Child selector*/
#greeting>p {
    border: 4px dashed green;
    border-radius: inherit;
    padding-left: 50px;
}

/*next element selector*/
h3+ol {
    text-decoration-line: underline;
    padding: 0 10px 0 5px;
}

/*Combined selector*/
p, h1, section {
    background: aquamarine;
}

/*Attribute selector*/
[name=email] {
    /*background: #521852;*/
    /*background: rgb(82, 24, 82);*/
    background: hsl(300, 71%, 21%);
}

/*Position*/
#hot-news {
    position: sticky;
}
